#titulo{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(102, 124, 223);
}

#linkvermas{
    text-decoration: none;
    font-weight: 600;
    color: rgb(102, 124, 223);
}


img{
    width: 310px;
    height: 150px;
}

#subtitulo{
    font-weight: bold;
    color: rgb(102, 124, 223);
    font-size: 12px;
}

p{
    font-weight: bold;
    color: rgba(17,63,110,255);
    font-size: 20px;
}